<div class="chatbox">
    <div class="chat-screen">

    </div>
    <div class="chatinput">
        <input id="chat-message-input" type="text"/>
        <input id="chat-message-submit" type="button" value="Send">
    </div>
</div>

    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + "prod"
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            // document.querySelector('#chat-log').value += (data.message["text"] + '\n');
            if (data.message["username"]=="{{ request.user.username }}"){
                document.getElementsByClassName("chat-screen")[0].innerHTML+='<div class="chat-item"><div class="icon"></div><div class="chat-msg">'+data.message["text"]+'</div></div>'
            }
            else{
                document.getElementsByClassName("chat-screen")[0].innerHTML+='<div class="chat-item" style="justify-content:end"><div class="icon"></div><div class="chat-msg">'+data.message["text"]+'</div></div>'
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
