{% load template_functions %}

<div class="related-topics">
    <a href="/topic/n=2" class="topic-item">
        Bits & Bytes
    </a>
    <a href="/topic/n=2" class="topic-item">
        Bits & Bytes
    </a>
    <a href="/topic/n=2" class="topic-item">
        Bits & Bytes
    </a>
    <a href="/topic/n=2" class="topic-item">
        Bits & Bytes
    </a>
    <a href="/topic/n=2" class="topic-item">
        Bits & Bytes
    </a>
    <a href="/topic/n=2" class="topic-item">
        Bits & Bytes
    </a>
    <a href="/topic/n=2" class="topic-item">
        Bits & Bytes
    </a>
    <a href="/topic/n=2" class="topic-item">
        Bits & Bytes
    </a>
    <a href="/topic/n=2" class="topic-item">
        Bits & Bytes
    </a>
    <a href="/topic/n=2" class="topic-item">
        Bits & Bytes
    </a>
    
</div>